/* Fonts */
@font-face {
    font-family: Kyoto-TW; 
    src: url('../assets/fonts/KyotoTW-Text800.woff');
}

/* Variables */
:root {
    --blue: rgb(170, 209, 239);
    --yellow: #f6f3a7; 
    --purple: #674784;
    --pink: #f4c3d1;
    --green: lightgreen;
    --violet: #b8509e;
}

@supports (color: color(display-p3 1 1 1)) {
    :root {
        --green: color(display-p3 0.5814 0.9874 0.4826);
        --blue: color(display-p3 0.63 0.925 1);
        --pink: color(display-p3 1 0.735 0.891);
        --purple: color(display-p3 0.346 0.009 0.455);
    }
}

body {
    --bgColor: var(--yellow);
    --font-color: var(--purple);
    --navBgColor: var(--green);
}

body.dark-theme {
    --bgColor: var(--purple);
    --font-color: var(--yellow);
}

/* Structure */
html {font-size: 100%;}

body {
    background-color: var(--bgColor);
    color: var(--font-color);
    font-family: 'Source Sans Pro', sans-serif;
}

/* HTML Element Styles */
header, main, footer, nav {
    max-width: 67.5rem;
}

header, main, footer, nav, figure img, .call-out {
    margin: 0 auto;
} 

h1, h2, h3, h4, h5, h6, nav ul li, button {
    font-family: Kyoto-TW;
}
h1, h2, footer, nav ul li, main h1 + p {
    text-align: center;
}

p {
    font-size: 1em;
}


a, button {
    color: var(--font-color);
    font-weight: bold;

}
nav a, .call-out {
    text-decoration: none; 
}

hr {
    border-top: 3px dashed var(--purple);
    border-bottom: 0;
}

/* Nav Styles */
nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--green);
    border-radius: 5rem;
}
nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

nav ul li {
    list-style-type: none;
    align-self: center;
}

/* Main Styles */
main {
    padding-top: 5rem;
}

section {
    padding: 2em calc((67.5em - 60em) / 2);
}

section h2:first-child, article h3:first-child  {
    margin-top: 0;
}

section:first-of-type, section:nth-of-type(3), section:nth-of-type(4){
    background-color: var(--blue);
    border-radius: 5em;
}

section:nth-of-type(3){
    background-color: var(--pink);
    margin-bottom: 3em;
}

.modes {
    margin-bottom: 3em;
}

.modes h4 {
    text-align: center;
}

.two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
}

.four-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

article {
    padding: 2em 0;   
}

figure img, .call-out {
    display: block;
}

section figure:first-child img{
    width: 100px;
}

/* Button Styles */
.call-out, .modes button {
    width: intrinsic;
    background-color: var(--bgColor);
    padding: 1rem 2em;
    text-align: center;
    font-size: 1em;
    border-radius: 1em;
    border: 2px solid var(--font-color);

}

.modes button {
    padding: .5rem 1em;
    font-size: .75em;
}

.call-out:hover, .modes button:hover {
    background-color: var(--green);
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    section {
        padding: 2em .75em
    }
    nav ul {
        margin: 0em
    }
    .two-columns, .four-columns {
        grid-template-columns: repeat(1, 1fr);
    }

    .two-columns h5 {
        margin: 0em;
    }
    .two-columns h4+ul {
        margin-top: 0em;
    }
}
